// Collect all components in 1 file
@import 'card';
@import 'categories-menu';
@import 'category-item';
@import 'category-list';
@import 'discBar';
@import 'filterResultBar';
@import 'filters';
@import 'goods';
@import 'inputs';
@import 'stripes';

@import 'icons';
@import 'breadcrumbs';

@import 'btn';

@import 'discount-widget';

@import 'controls';
@import 'viewby';

@import 'link-more';


// Objects: universal
// cross-project components
@import 'o-table';








.pin
{
    font-size: 8px;
    font-weight: 700;
    line-height: 9px;

    display: inline-block;

    padding: 8px 10px;

    border-radius: 5px;
    &--default
    {
        color: $gray-darker;
        background-color: #e2e8eb;
    }
}


.brands
{
    &__item
    {
        display: inline-block;

        transition: opacity $baseAnimationDuration;
        img
        {
            max-height: 150px;
            margin: 0 auto;

            @extend .h-img-res;
        }
        &:hover,
        &:active,
        &:focus
        {
            opacity: .9;
        }
    }
}

.bannerBar
{
    margin: 20px 0;
    img
    {
        margin-right: auto;
        margin-left: auto;

        @extend .h-img-res;
    }
}

.categoryBar
{
    margin-bottom: 35px;

    background-color: #fff;
}


.topBar
{
    margin-bottom: 40px;
    &__item
    {
        &--320
        {
            width: 320px;
        }
    }
    &__title
    {
        margin: 0 0 15px;
    }
}
