/*********************************
** CATEGORY MENU BAR
*********************************/

.c-cat-menu
{
    // LAYOUT
    &__list
    {
        font-size: 0;

        margin: 0;
        // magic number
        // hide border-top&left of first-line
        margin-top: -1px;
        margin-left: -1px;
        padding: 0;

        @include clearfix;
    }
    &__item
    {
        // to get
        // vertical align
        // in item
        display: inline-table;

        width: 220px;
        height: 55px;

        list-style-type: none;

        vertical-align: top;

        border-top: 1px solid $gray-light;
        border-left: 1px solid $gray-light;
        background-color: #fff;
    }
    // ELEMENTS
    &__link
    {
        font-size: $font-size-el-clasico;

        position: relative;

        display: table-cell;
        overflow: hidden;

        box-sizing: border-box;
        width: 100%;
        padding: 0 15px;

        transition-duration: $baseAnimationDuration;
        transition-property: color, box-shadow;
        vertical-align: middle;

        color: $gray-base;
        &:hover
        {
            z-index: 3;

            color: #800ca6;
            box-shadow: 0 5px 15px #b8c0c4;
        }
        &:active,
        &:focus
        {
            color: #800ca6;
            box-shadow: 0 5px 15px #b8c0c4;
        }
        .icon
        {
            font-size: 10px;

            position: absolute;
            top: 50%;
            left: 0;

            padding-right: 15px;

            transition: none;
            transform: translateY(-50%);
        }
    }
    &__link-inner
    {
        position: relative;

        overflow: hidden;

        max-height: 30px;
    }
    &__link-title
    {
        padding-left: 30px;
    }
}
