.c-goods
{
    position: relative;

    display: block;

    outline: none;

    color: $gray-base;
    &:not(:first-of-type)
    {
        border-left: 1px solid $gray-light;
    }
    // get best fps perfomance
    &:after
    {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        content: '';
        transition: opacity $baseAnimationDuration;

        opacity: 0;
        box-shadow: 0 5px 15px #b8c0c4;
    }
    &:hover,
    &:focus,
    &:active
    {
        border-color: transparent;
        .icon--arrow
        {
            color: $brand-primary;
        }
        & + .c-goods
        {
            border-color: transparent;
        }
        & + .c-goods-more
        {
          border-color: transparent;
        }
        &::after
        {
            opacity: 1;
        }
    }
    &--wide
    {
        // temp
        height: $heigth-goods;
        .c-goods__thumb
        {
            display: table-cell;

            box-sizing: border-box;
            // width: 200px;
            width: 50%;
            height: $heigth-goods;

            vertical-align: middle;
        }
        .c-goods__body
        {
            display: table-cell;

            box-sizing: border-box;
            padding-top: 20px;
            // balanced pos-a for
            // .c-goods__meta
            padding-bottom: 25px;

            vertical-align: top;
        }
        .c-goods__meta
        {
            position: absolute;
            bottom: 0;
        }
    }
    // LAYOUT
    &__body
    {
        padding: 0 10px;
        // mb
        // overflow: hidden;
    }
    &__meta
    {
        font-size: 0;

        white-space: nowrap;
    }
    &__meta-item
    {
        display: inline-block;
    }
    // ELEMENTS
    &__thumb
    {
        box-sizing: border-box;
        padding-top: 5px;
        img
        {
            max-height: 100%;
            margin: auto;

            @extend .h-img-res;
        }
    }
    &__thumb--default
    {
        height: 150px;
    }
    // uses for product with
    // single thumb (no desc, price etc.)
    &__thumb--tiny
    {
        height: 115px;
    }
    &__title
    {
        font-size: $font-size-el-clasico;
        height: 30px;
    }
    &__desc
    {
        font-size: $font-size-small - 1;
        line-height: 18px;

        margin: 10px 0;

        color: $gray-darker;
    }
    &__price
    {
        font-family: $headings-font-family;
        font-size: $font-size-small;
        strong
        {
            font-size: 20px;
            font-weight: 700;
        }
    }
    // COMBO
    &__thumb + &__body
    {
        margin-top: 10px;
    }
    &__title + &__meta
    {
        padding-top: 15px;
    }
    &__meta-item + &__meta-item
    {
        padding-left: 5px;
    }
    &__meta-item + &__meta-item:last-of-type
    {
        padding-left: 10px;
    }
    // THEMING
    .icon--arrow
    {
        font-size: 16px;

        vertical-align: baseline;

        color: #c1c1c1;
    }
}

/// TEMPORARY SHIT

// don't have svg icon
// of legacy smile

.temp-icon
{
    display: inline-block;

    width: 16px;
    height: 16px;
}















.goods
{
    position: relative;

    display: block;

    color: $gray-base;
    // border-top: 1px solid $gray-light;
    background-color: #fff;
    &:after
    {
        position: absolute;
        top: 0;
        right: -10px;
        bottom: 0;
        left: -10px;

        content: '';
        transition: box-shadow $baseAnimationDuration;

        border-right: 1px solid $gray-light;
    }
    &:hover
    {
        z-index: 2;
        .p-icon--arrow
        {
            color: $brand-primary;
        }
        // &:after
        // {
        //     // opacity: 1;
        //     box-shadow: 0 5px 15px #b8c0c4;
        //     border-right-color: transparent;
        //     left: -11px;
        //     top: -15px;
        //     border-left: 1px solid #fff;
        //     // bottom: -10px;
        // }
    }
    &:focus,
    &:active
    {
        // box-shadow: 0 5px 15px #b8c0c4;
        // background-color: red;
    }
    .p-icon--arrow
    {
        font-size: 16px;

        color: #c1c1c1;
    }
    &__thumb
    {
        position: relative;

        display: block;
        img
        {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            max-height: 100%;
            margin: auto;

            @extend .h-img-res;
        }
        &--tiny
        {
            height: 115px;
        }
        &--default
        {
            height: 150px;
        }
    }
    &__thumb + &__body
    {
        margin-top: 10px;
    }
    &__body
    {
        margin-bottom: 10px;
    }
    &__title
    {
        font-size: $font-size-el-clasico;
    }
    &__desc
    {
        font-size: $font-size-small - 1;
        line-height: 18px;

        color: #5f5f5f;
    }
    &__price
    {
        font-family: $headings-font-family;
        font-size: 12px;

        display: inline-block;

        color: #000;
        strong
        {
            font-size: 20px;
            font-weight: 700;
        }
    }
    &__meta
    {
        display: flex;

        align-items: center;
    }
    &--wide
    {
        display: flex;

        box-sizing: border-box;
        height: 222px;

        .goods__thumb
        {

            width: 50%;
            height: auto;

            align-self: center;
            img
            {
                position: static;

                max-height: 200px;
            }
        }
        .goods__body
        {
            display: flex;
            flex-direction: column;

            box-sizing: border-box;
            width: 50%;

            padding-right: 50px;
            padding-left: 5px;
        }
        .goods__title
        {
            margin-bottom: auto;
        }
        .goods__meta
        {

            margin-top: auto;
        }
    }
}





.goods-more
{
    font-family: $headings-font-family;

    position: relative;

    box-sizing: border-box;

    display: block;

    width: 170px;
    max-width: 100%;
    height: $heigth-goods;
    margin: 0 auto;

    text-align: center;

    color: $gray-darker;
    border: 1px dashed #dbdbdb;
    border-radius: 10px;
    background-color: #f5f5f5;
    &:after
    {
        position: absolute;
        top: 50%;
        right: 5px;
        left: 5px;

        content: '';

        border: 1px dashed #dbdbdb;
    }
    &__title
    {
        font-size: 18px;
        font-weight: 600;
    }
    &__count
    {
        font-size: 36px;
        font-weight: 600;
    }
    &__cat-title
    {
        font-size: $font-size-base;
        font-weight: 600;

        margin-bottom: 30px;
    }
    &__total-count
    {
        font-family: Arial;
        font-size: $font-size-small - 1;
    }
    &__top
    {
        padding-top: 30px;
    }
    &__bottom
    {
        position: absolute;
        right: 20px;
        bottom: 20px;
        left: 20px;
    }
}

.u-tb {
  background-color: salmon;
  height: 225px;
  padding: 15px 0;

  box-sizing: border-box;

  .o-tb  {
    height: 100%;

    &__td {
      height: 50%;

    }
    & > .o-tb__row:fist-of-type * {
      background-color: yellow;
    }
  }
}


.c-goods-more
{
    font-family: $headings-font-family;

    display: block;

    height: $heigth-goods;
    margin: 0 auto;

    text-align: center;

    color: $gray-darker;
    border-left: 1px solid $gray-light;
    // LAYOUT
    &__inner
    {
        position: relative;

        box-sizing: border-box;
        // magic important
        // instead more html wrappers
        // need fixed width vs 100% o-tb
        width: 170px !important;
        height: 100%;
        margin: 0 auto;

        border: 1px dashed #dbdbdb;
        border-radius: 10px;
        background-color: #f5f5f5;
        //border after first cell
        .o-tb__row:first-of-type .c-goods-more__item
        {
            border-bottom: 1px dashed #dbdbdb;
        }
    }
    &__item
    {
        height: 50%;
        padding: 10px;
    }
    // ELEMENTS
    &__title
    {
        font-size: 18px;
        font-weight: 600;
    }
    &__count
    {
        font-size: 36px;
        font-weight: 600;
    }
    &__cat-title
    {
        font-size: $font-size-base;
        font-weight: 600;

        margin-bottom: 20px;
    }
    &__total-count
    {
        font-family: Arial;
        font-size: $font-size-small - 1;

        padding: 0 20px;
    }
}
