/*********************************
** GOODS ITEM
** NOTICE:
** All commented code is under
** quarantine. Probably there are
** some good ideas to improve,
** but not now
*********************************/

.c-goods
{
    position: relative;

    display: block;

    padding-top: 20px;
    padding-bottom: 20px;

    color: $gray-base;
    outline: none;
    transition: box-shadow $baseAnimationDuration;
    &:not(:first-of-type):before
    {
        position: absolute;
        top: 20px;
        bottom: 20px;
        left: 0;

        content: '';

        border-left: 1px solid $gray-light;
    }
    &:after
    {
        position: absolute;
        top: 0;
        right: 20px;
        left: 20px;

        content: '';

        border-top: 1px solid $gray-light;
    }
    // get best fps perfomance
    // &:after
    // {
    //     position: absolute;
    //     z-index: 2;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     content: '';
    //     transition: opacity $baseAnimationDuration;
    //     opacity: 0;
    //     box-shadow: 0 5px 15px #b8c0c4;
    // }
    &:hover,
    &:focus,
    &:active
    {
        z-index: 2;

        color: $gray-base;
        box-shadow: 0 5px 15px #b8c0c4;
        &:before
        {
            opacity: 0;
        }
        &:after
        {
            z-index: 2;
            top: 0;
            right: 0;
            bottom: -1px;
            left: 0;

            border-top-color: #fff;
            border-bottom: none;
            // border-bottom: 1px solid #fff;
        }
        // border-color: transparent;
        // .icon--arrow
        // {
        //     color: $brand-primary;
        // }
        & + .c-goods:before,
        & + .c-goods-more:before
        {
            border: none;
        }
        // & + .c-goods-more
        // {
        //     border-color: transparent;
        // }
        // &::after
        // {
        //     opacity: 1;
        // }
        .c-goods__title,
        .c-goods__desc
        {
            color: $brand-primary;
        }
        .icon--arrow
        {
            transform: translate3d(20px, 0, 0);

            color: $brand-primary;
        }
    }
    &--wide
    {
        // temp
        height: $heigth-goods;
        &:after
        {
            bottom: -1px;

            border-bottom: 1px solid $gray-light;
        }
        .c-goods__thumb
        {
            display: table-cell;

            box-sizing: border-box;
            // width: 200px;
            width: 50%;
            // $heigth-goods minus
            // vertical paddings
            height: $heigth-goods - 40;

            vertical-align: middle;
        }
        .c-goods__body
        {
            display: table-cell;

            box-sizing: border-box;
            padding-top: 20px;
            // balanced pos-a for
            // .c-goods__meta
            padding-bottom: 25px;

            vertical-align: top;
        }
        .c-goods__meta
        {
            position: absolute;
            bottom: 20px;
        }
    }
    // LAYOUT
    &__body
    {
        padding: 0 10px;
        // mb
        // overflow: hidden;
    }
    &__meta
    {
        font-size: 0;

        white-space: nowrap;
    }
    &__meta-item
    {
        display: inline-block;
    }
    // ELEMENTS
    &__thumb
    {
        box-sizing: border-box;
        padding-top: 5px;
        img
        {
            max-height: 100%;
            margin: auto;

            @include img-res;
        }
    }
    &__thumb--default
    {
        height: 150px;
    }
    // uses for product with
    // single thumb (no desc, price etc.)
    &__thumb--tiny
    {
        height: 115px;
    }
    &__title
    {
        font-size: $font-size-el-clasico;

        height: 30px;
    }
    &__desc
    {
        font-size: $font-size-small - 1;
        line-height: 18px;

        margin: 10px 0;

        color: $gray-darker;
    }
    &__price
    {
        font-family: $headings-font-family;
        font-size: $font-size-small;
        strong
        {
            font-size: 20px;
            font-weight: 700;
        }
    }
    // COMBO
    &__thumb + &__body
    {
        margin-top: 10px;
    }
    &__title + &__meta
    {
        padding-top: 15px;
    }
    &__meta-item + &__meta-item
    {
        padding-left: 5px;
    }
    &__meta-item + &__meta-item:last-of-type
    {
        padding-left: 10px;
    }
    // THEMING
    .icon--arrow
    {
        font-size: 16px;

        vertical-align: baseline;

        color: #c1c1c1;
    }
}

// TEMPORARY

// don't have svg icon
// of legacy smile
.temp-icon
{
    display: inline-block;

    width: 16px;
    height: 16px;
}
