/*********************************
** ICONS
** ALL CUSTOM STYLES
** CHANGE HERE
** DON'T CHANGE SPRITE.SCSS
*********************************/

.icon
{
    display: inline-block;

    width: 1em;
    height: 1em;

    vertical-align: middle;

    fill: currentColor;

    transition-property: color, transform;
    transition-duration: $baseAnimationDuration;

    &--arrow {
      font-size: 8px;
    }
}
