/*********************************
** MIXINS
*********************************/

@mixin clearfix
{
    &:before,
    &:after
    {
        display: table;

        content: '';
    }
    &:after
    {
        clear: both;
    }
}


@mixin img-res
{
    display: block;

    max-width: 100%;
    height: auto;
}
