// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts:  woff2 woff  ) {
  $src: null;

  $extmods: (
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

@include font-face(PFBeauSansPro,
  '../fonts/pfbeausanspro-reg-webfont');
@include font-face(PFBeauSansPro,
  '../fonts/pfbeausanspro-sebold-webfont', 600);
@include font-face(PFBeauSansPro,
  '../fonts/pfbeausanspro-bold-webfont', 700);
