/*********************************
** SPRITE GENERATES
** FROM TEMPLATE AUTOMATICALLY
** DON'T CHANGE _SVG-SPRITE.SCSS
*********************************/

.icon--approve {
  font-size:(1024/10)*1rem;
  width:(1384/1024)*1em;
}
.icon--arrow {
  font-size:(1024/10)*1rem;
  width:(1328/1024)*1em;
}
.icon--arrow-long {
  font-size:(8/10)*1rem;
  width:(6/8)*1em;
}
.icon--bone {
  font-size:(12/10)*1rem;
  width:(11.8/12)*1em;
}
.icon--btn-ar-left-bg {
  font-size:(31/10)*1rem;
  width:(144.054/31)*1em;
}
.icon--btn-ar-left-bg--active {
  font-size:(31/10)*1rem;
  width:(144.054/31)*1em;
}
.icon--btn-ar-left-bg--hover {
  font-size:(31/10)*1rem;
  width:(144.054/31)*1em;
}
.icon--caret {
  font-size:(1024/10)*1rem;
  width:(1775/1024)*1em;
}
.icon--cart {
  font-size:(512/10)*1rem;
  width:(544/512)*1em;
}
.icon--discount {
  font-size:(12/10)*1rem;
  width:(12/12)*1em;
}
.icon--gift {
  font-size:(14/10)*1rem;
  width:(12/14)*1em;
}
.icon--grid-compact {
  font-size:(17/10)*1rem;
  width:(19/17)*1em;
}
.icon--grid-list {
  font-size:(17/10)*1rem;
  width:(18/17)*1em;
}
.icon--grid-square {
  font-size:(17/10)*1rem;
  width:(17/17)*1em;
}
.icon--map {
  font-size:(1024/10)*1rem;
  width:(1024/1024)*1em;
}
.icon--moneybox {
  font-size:(14/10)*1rem;
  width:(12/14)*1em;
}
.icon--more {
  font-size:(10/10)*1rem;
  width:(2/10)*1em;
}
.icon--plus {
  font-size:(10/10)*1rem;
  width:(10/10)*1em;
}
.icon--slider-arrow {
  font-size:(21.5/10)*1rem;
  width:(12/21.5)*1em;
}
.icon--slider-control {
  font-size:(1024/10)*1rem;
  width:(640/1024)*1em;
}
.icon--track {
  font-size:(10/10)*1rem;
  width:(15/10)*1em;
}
