-
  var offerTypes =
    [
      {
        "title": "Копить бонусы",
        "id": "p-filters__bonus",
        "iconName": "moneybox",
      },
      {
        "title": "Получить скидку",
        "id": "p-filters__discount",
        "iconName": "discount",
      },
      {
        "title": "Участвовать в розыгрыше",
        "id": "p-filters__draw",
        "iconName": "bone",
      },
      {
        "title": "Получить подарок",
        "id": "p-filters__gift",
        "iconName": "gift",
      },
      {
        "title": "Доставка бесплатно",
        "id": "p-filters__delivery",
        "iconName": "track",
      }
    ]

  var offerCategories =
    [
      {
        "title": "Дом и ремонт",
        "id": "p-filters__household",
      },
      {
        "title": "Дача",
        "id": "p-filters__chalet",
      },
      {
        "title": "Домашние животные",
        "id": "p-filters__pets",
      },
      {
        "title": "Автотовары и запчасти",
        "id": "p-filters__auto",
      },
      {
        "title": "Родители и дети",
        "id": "p-filters__parents",
      },
      {
        "title": "Одежда и красота",
        "id": "p-filters__clothes",
      },
      {
        "title": "Компьютеры и игры",
        "id": "p-filters__computers",
      },
      {
        "title": "Спорт, рыбалка и туризм",
        "id": "p-filters__sport",
      },
      {
        "title": "Мобильная техника",
        "id": "p-filters__mobile",
      },
      {
        "title": "Электроника и бытовая техника",
        "id": "p-filters__electronics",
      },
      {
        "title": "Контент",
        "id": "p-filters__content",
      },
      {
        "title": "Услуги",
        "id": "p-filters__service",
      },
      {
        "title": "Авиабилеты",
        "id": "p-filters__tickets",
      }
    ]

  var tags =
    [
      {
        "imgLink": "i/fakeimg/i-t-samsung.png",
        "imgWidth": "40",
        "imgHeight": "13",
        "title": "Все акции с цифровой техникой Samsung",
      },
      {
        "imgLink": "i/fakeimg/i-t-best.png",
        "imgWidth": "30",
        "imgHeight": "38",
        "title": "Лучшие акции июня",
      },
      {
        "imgLink": "i/fakeimg/i-t-baby.png",
        "imgWidth": "63",
        "imgHeight": "42",
        "title": "Специальные предложения по товарам для детей",
      },
    ]