.row.row--border.discBar
  .col.col-6
    | Описание товара носит информационный характер и может отличаться от описания, представленного в технической документации производителя. Рекомендуем при покупке проверять наличие желаемых функций и&nbsp;характеристик.
  .col.col-6 Вы можете сообщить о неточности в описании товара — выделите её и нажмите #[span.pin.pin--default(href="#") Shift] + #[span.pin.pin--default(href="#") Enter]
