mixin goodsShowMore
	a.col.col-2.c-goods-more(href="#")
		.c-goods-more__inner.o-tb
				.o-tb__row
					.c-goods-more__item.o-tb__td.is--middle
						.c-goods-more__title
							| Показать ещё
						.c-goods-more__count
							| 20
				.o-tb__row
					.c-goods-more__item.o-tb__td.is--middle
						.c-goods-more__cat-title
							| Специальные предложения
						.c-goods-more__total-count
							| Показано 6 из 32 товаров


