div.p-offer__header
  .p-row
    .p-col.p-col-12
       include ./breadcrumbs.jade
       h1.p-h1 Лучшие акции июня!
       .p-date #[time(datetime="2016-06-23/2016-06-31") 23 июня 2016 – 31 июня 2016]