mixin sidebar()
	aside.l-sidebar(role="navigation")

		block
-
	var offerCategories1 =
		[
			{
				"title": "Электроинструмент и бензоинструмент"
			},

			{
				"title": "Аксессуары для электроинструмента",
				"id": "p-filters__chalet",
			},
			{
				"title": "Шуруповерты и гайковерты ",
				"id": "p-filters__pets",
			},
			{
				"title": "Перфораторы",
				"id": "p-filters__auto",
			},
			{
				"title": "Углошлифмашины",
				"id": "p-filters__parents",
			},
			{
				"title": "Измерительная техника",
				"id": "p-filters__clothes",
			},
			{
				"title": "Многофункциональный инструмент",
				"id": "p-filters__computers",
			},
			{
				"title": "Паяльники",
				"id": "p-filters__sport",
			},
			{
				"title": "Дрели",
				"id": "p-filters__mobile",
			},
			{
				"title": "Цепные пилы",
				"id": "p-filters__electronics",
			},
			{
				"title": "Циркулярные пилы",
				"id": "p-filters__content",
			},
			{
				"title": "Сабельные пилы",
				"id": "p-filters__service",
			},
			{
				"title": "Рубанки",
				"id": "p-filters__tickets",
			}
		]

	var offerCategories2 =
		[
			{
				"title": "Силовая техника",
			},
			{
				"title": "Аксессуары для силовой техники",
			},
			{
				"title": "Сварочное оборудование",
			},
			{
				"title": "Генераторы",
			},
			{
				"title": "Компрессоры",
			},
			{
				"title": "Станки",
			},
			{
				"title": "Стабилизаторы напряжения",
			},
			{
				"title": "Металлообработка и кузнечное оборудование",
			}
		]

	var offerCategories3 =
		[
			{
				"title": "Ручной инструмент, лестницы",
			},
			{
				"title": "Лестницы и стремянки",
			},
			{
				"title": "Наборы инструментов",
			},
			{
				"title": "Отвертки и наборы",
			},
			{
				"title": "Шарнирно-губцевой инструмент",
			},
			{
				"title": "Cлесарный инструмент",
			},
			{
				"title": "Столярный инструмент",
			},
			{
				"title": "Ящики и сумки для инструмента",
			},
			{
				"title": "Ударно-забивной инструмент и гвоздодеры",
			},
			{
				"title": "Измерительный инструмент",
			},
			{
				"title": "Инструмент электрика",
			},
			{
				"title": "Инструмент сантехника",
			},
			{
				"title": "Лопаты",
			},
		]

	var offerSubCategories =
		[
			{"title": "Аксессуары для электроинструмента"},
			{"title": "Шуруповерты и гайковерты"},
			{"title": "Перфораторы"},
			{"title": "Углошлифмашины"},
			{"title": "Измерительная техника"},
			{"title": "Многофункциональный инструмент"},
			{"title": "Паяльники"},
			{"title": "Дрели"},
			{"title": "Цепные пилы"},
			{"title": "Циркулярные пилы"},
			{"title": "Сабельные пилы"},
			{"title": "Рубанки"},
			{"title": "Минимойки"},
			{"title": "Виброшлифмашины"},
			{"title": "Строительные фены"},
			{"title": "Краскораспылители"},
			{"title": "Фрезеры"},
			{"title": "Промышленные пылесосы"},
			{"title": "Степлеры"},
			{"title": "Полировальные машины"},
			{"title": "Электротосила"},
			{"title": "Бетономешалки"},
			{"title": "Сварочное оборудование"},
			{"title": "Генераторы"},
			{"title": "Компрессоры"},
			{"title": "Станки"},
			{"title": "Стабилизаторы"},
			{"title": "Тяговые аккумуляторы"},
		]


	var offerBrandCategories =
		[
			{"title": "Инструмент"},
			{"title": "Аксессуары для электроинструмента "},
			{"title": "Шуруповерты и гайковерты"},
			{"title": "Перфораторы"},
			{"title": "Углошлифмашины"},
			{"title": "Измерительная техника"},
			{"title": "Многофункциональный инструмент"},
			{"title": "Паяльники"},
			{"title": "Дрели"},
			{"title": "Цепные пилы "},
			{"title": "Циркулярные пилы"},
			{"title": "Сабельные пилы"},
			{"title": "Рубанки"},
			{"title": "Минимойки"},
			{"title": "Виброшлифмашины"},
			{"title": "Строительные фены"},
			{"title": "Краскораспылители"},
			{"title": "Фрезеры"},
			{"title": "Промышленные пылесосы "},
			{"title": "Степлеры"},
			{"title": "Полировальные машины"},
			{"title": "Электротосила"},
			{"title": "Бетономешалки"},
			{"title": "Сварочное оборудование"},
			{"title": "Генераторы"},
			{"title": "Компрессоры"},
			{"title": "Станки"},
		]

mixin categoryMenu(data, title)
	.c-filters
		.c-filters__group
			if title == undefined
				.c-filters__title #{data[0].title}
			ul.c-filters__list
				each item in data.slice(1)
						li.c-filters__item
							a.c-filters__link(href="#") #{item.title}&nbsp;#[span.badge.badge--link #{getRandomArbitrary(1, 150)}]
			if data.length > 11 && title == undefined
				button.c-filters__reset
					| Ещё 16 категорий
-
	var anotherCat =
	  [
	    {"title": "Автомобильный звук и видео"},
	    {"title": "Аккумуляторные батареи"},
	    {"title": "Аксессуары для бытовой техники"},
	    {"title": "Встраиваемая бытовая техника"},
	    {"title": "Дача и сад"},
	    {"title": "Крупная бытовая техника"},
	    {"title": "Мелкая техника для кухни"},
	    {"title": "Подбор автозапчастей"},
	    {"title": "Приготовление кофе"},
	    {"title": "Техника для дома"},
	    {"title": "Товары для здоровья"},
	    {"title": "Товары для красоты"},
	  ]

mixin categoryInCategory(data)
	.c-filters
		.c-filters__group.c-filters__group--accent
			ul.c-filters__list
				each item in data
						li.c-filters__item
							a.c-filters__link(href="#") #{item.title}
