//- a.stripe.stripe--default(href="#")
//-   .stripe__body
//-     .stripe__title Любая другая вариация
//-   .stripe__right
//-     .stripe__count
//-       | 1 250
//-       +icon('arrow')
a.stripe.stripe--offer(href="#")
  .stripe__body
    .stripe__title Акции и спецпредложения
  .stripe__right
    .stripe__count
      | 1 250
      +icon('arrow')
a.stripe.stripe--stock(href="#")
  .stripe__body
    .stripe__title Сливы
  .stripe__right
    .stripe__count
      | 341
      +icon('arrow')
a.stripe.stripe--disc(href="#")
  .stripe__body
    .stripe__title Уцененные товары
  .stripe__right
    .stripe__count
      | 1 172
      +icon('arrow')

