a.c-stripe.c-stripe--offer(href="#")
	.c-stripe__body
		.c-stripe__title Акции и спецпредложения
	.c-stripe__right
		.c-stripe__count
			| 1 250
			+icon('arrow')
a.c-stripe.c-stripe--stock(href="#")
	.c-stripe__body
		.c-stripe__title Сливы
	.c-stripe__right
		.c-stripe__count
			| 341
			+icon('arrow')
a.c-stripe.c-stripe--disc(href="#")
	.c-stripe__body
		.c-stripe__title Уцененные товары
	.c-stripe__right
		.c-stripe__count
			| 1 172
			+icon('arrow')

