mixin widgetDiscount
	.c-filters
		+icon()
		| Юлмарт.Дисконт
		| Уцененные товары из категории
		| Инструмент 1 250
		| Мы никогда не скрываем причин уценки и всегда публикуем информацию о состоянии товара. Экономьте.

