include helpers/_global_mixins.jade
include jade-components/_project_mixins
- var array = '';
block vars
doctype
html(lang="ru")
	head
		include jade-components/_head.jade
	body(class='#{array.body_class}')
		.container
			block content
			if array.footer == undefined
				include jade-components/_l-footer.jade
	script(src="https://code.jquery.com/jquery.min.js")
	script(src="js/main.js")
	script(src="js/helpers.js")
